@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Cardo&family=Crimson+Text&family=IBM+Plex+Sans+Condensed&family=Rampart+One&display=swap");

body {
  background-image: url("./asset/img/fond.jpg");
  background-size: 100%;
  cursor: url("./asset/img/hammer.png"), auto;
}
p {
  text-align: center;
}
#writeUsername {
  position: absolute;
  margin-top: 2vh;
  width: 25vw;
  font-size: 17px;
  background-color: #186205;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "Crimson Text", cursive;
  box-shadow: inset 7px -15px #0b2a03;
  display: flex;
}
input {
  width: 110px;
  align-items: center;
  margin-left: 6px;
  margin-right: 3px;
  cursor: auto;
}
#btnValidate {
  cursor: pointer;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  margin-left: 6px;
  width: 60px;
}
#displayUsername {
  color: white;
  font-size: 17px;
  border-radius: 10px;
  padding: 4px;
  background-color: #186205;
  box-shadow: inset 7px -15px #0b2a03;
  font-family: "Crimson Text", cursive;
  position: absolute;
  display: none;
}
#name {
  color: white;
  padding: 4px;
  font-size: 25px;
  font-family: "Crimson Text", cursive;
  margin-left: 10px;
}
h1 {
  text-align: center;
  color: #873e23;
  font-weight: bold;
  font-size: 50px;
  font-family: "Rampart One", cursive;
}

#parameters {
  display: flex;
}
span.gameElements {
  background-color: white;
  color: #4f2a14;
  border-radius: 10%;
  padding: 2px;
  margin: 2px;
}
#scoreBoard {
  width: auto;
  text-align: center;
  font-size: 20px;
  background-color: #186205;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-right: 2vw;
  font-family: "Crimson Text", cursive;
  box-shadow: inset 7px -15px #0b2a03;
}
#timer {
  border-radius: 10px;
  width: auto;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #186205;
  padding: 10px;
  font-family: "Crimson Text", cursive;
  box-shadow: inset 7px -15px #0b2a03;
}
#dashboard {
  position: absolute;
  margin-top: 80px;
  margin-left: 3px;
  background-color: #186205;
  width: 15vw;
  height: 30vh;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Crimson Text", cursive;
  box-shadow: inset 7px -15px #0b2a03;
  overflow-y: auto;
}
#game {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
}

.imgHole {
  width: 160px;
  height: 100px;
  margin: 5%;
}

.imgMole {
  width: 150px;
  height: 100px;
  margin: 5%;
  display: none;
}

#buttonStart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
#btnStart {
  background-color: brown;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 2px;
  width: 16vw;
  height: 5vh;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow: 10px 5px 5px rgb(37, 3, 3);
}
#btnRefresh {
  width: 25px;
  height: 25px;
  margin-left: 2vw;
  color: rgb(62, 14, 14);
  cursor: pointer;
}
